In [7]:
from functools import reduce

def sumuojam(x, y):
    rez = x + y
    print(f'{x} + {y} = {rez}')
    return rez

skaiciai = [2, 3, 5, 7, 11, 4, 32, -17, 42, 69]
sum = reduce(sumuojam, skaiciai)
print(sum)

2 + 3 = 5
5 + 5 = 10
10 + 7 = 17
17 + 11 = 28
28 + 4 = 32
32 + 32 = 64
64 + -17 = 47
47 + 42 = 89
89 + 69 = 158
158

In [1]:
skaiciai = [2, 3, 5, 7, 11, 4, 32, -17, 42, 69]
sum = reduce(sumuojam, skaiciai)
print(sum)

NameError: name 'reduce' is not defined

In [4]:
skaiciai

[2, 3, 5, 7, 11, 4, 32, -17, 42, 69]

In [6]:
div_10_skaiciai = [skaicius / 10 for skaicius in skaiciai]
print(div_10_skaiciai)

[0.2, 0.3, 0.5, 0.7, 1.1, 0.4, 3.2, -1.7, 4.2, 6.9]

In [8]:
salyga = lambda skaicius: skaicius % 2 == 0 
lyginiai = [skaicius for skaicius in skaiciai if salyga(skaicius)]
lyginiai

[2, 4, 32, 42]

In [10]:
print(skaiciai)
ar_lyginiai = [skaicius % 2 == 0 for skaicius in skaiciai]
ar_lyginiai

[2, 3, 5, 7, 11, 4, 32, -17, 42, 69]

[True, False, False, False, False, True, True, False, True, False]

In [1]:
lyginiai_loginiai = lambda sk: sk if sk % 2 == 0 else None
lyginiai_loginiai = [isrinkti_lyginius(skaicius)]

NameError: name 'isrinkti_lyginius' is not defined

In [11]:
kvadratai = [(lambda sk: sk **2)(x) for x in skaiciai]
kvadratai

[4, 9, 25, 49, 121, 16, 1024, 289, 1764, 4761]

In [13]:
didziausias = reduce(lambda x, y: x if x > y else y, skaiciai)
didziausias

69

In [17]:
nelyginiai = (sk for sk in skaiciai if sk % 2 != 0)
nelyginiai

In [18]:
nelyginiu_suma = reduce(sumuojam, nelyginiai)

3 + 5 = 8
8 + 7 = 15
15 + 11 = 26
26 + -17 = 9
9 + 69 = 78

In [20]:
import statistics
statistics.mean(skaiciai)

15.8

In [22]:
map_kvadratai = map(lambda x: x** 2, skaiciai)
list(map_kvadratai)

[4, 9, 25, 49, 121, 16, 1024, 289, 1764, 4761]

In [24]:
nelyginiai = filter(lambda x: x if x % 2 != 0 else False, skaiciai)
list(nelyginiai)

[3, 5, 7, 11, -17, 69]

In [2]:
class Studentas:
    def __init__(self, vardas, pavarde, pazymiai):
        self.vardas = vardas
        self.pavarde = pavarde
        self.pazymiai = pazymiai

    def vidurkis(self):
        return sum(self.pazymiai) / len(self.pazymiai)

    def __str__(self) -> str:
        return f'{self.vardas} {self.pavarde}: {self.vidurkis():.1f}'

    def __repr__(self) -> str:
        return f'({self.vardas}, {self.pavarde}, {self.vidurkis():.1f})'
    
studentai = [
    Studentas("Jonas", "Jonaitis", [8, 9, 7]),
    Studentas("Petras", "Petraitis", [10, 9, 10]),
    Studentas("Kazys", "Petraitis", [7, 2, 10, 6]),
    Studentas("Ona", "Onaitė", [6, 8, 7]),
]

In [3]:
pirmunai = sorted(studentai, key = lambda x: x.vidurkis(), reverse=True)
print(pirmunai)

[(Petras, Petraitis, 9.7), (Jonas, Jonaitis, 8.0), (Ona, Onaitė, 7.0), (Kazys, Petraitis, 6.2)]

In [4]:
from operator import attrgetter
pagal_pavarde = sorted(studentai, key=attrgetter('pavarde', 'vardas'))
print(pagal_pavarde)

[(Jonas, Jonaitis, 8.0), (Ona, Onaitė, 7.0), (Kazys, Petraitis, 6.2), (Petras, Petraitis, 9.7)]

In [5]:
class Studentas:
    def __init__(self, vardas, pavarde, pazymiai):
        self.vardas = vardas
        self.pavarde = pavarde
        self.pazymiai = pazymiai

    def vidurkis(self):
        return sum(self.pazymiai) / len(self.pazymiai)

studentai = [
    Studentas("Jonas", "Jonaitis", [8, 9, 7]),
    Studentas("Petras", "Petraitis", [10, 9, 10]),
    Studentas("Ona", "Onaitė", [6, 8, 7]),
]

rusiuoti_studentai = sorted(studentai, key=lambda x: x.vidurkis(), reverse=True)
for studentas in rusiuoti_studentai:
    print(f"{studentas.vardas} {studentas.pavarde} - {studentas.vidurkis()}")

Petras Petraitis - 9.666666666666666
Jonas Jonaitis - 8.0
Ona Onaitė - 7.0

In [10]:
sarasas = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
rezultatas = map(lambda x: x * 2, filter(lambda x: x > 10, sarasas))
print(list(rezultatas))

result = [x * 2 for x in sarasas if x > 10]
print(result)

[22, 24, 26, 28]
[22, 24, 26, 28]

In [11]:
from functools import reduce

sarasas = [1, 2, 3, 4, 5]

sandauga = reduce(lambda x, y: x * y, sarasas)
print(sandauga)

120

In [12]:
import statistics

sarasas = [1, 2, 3, 4, 5]

print(sum(sarasas))
print(statistics.mean(sarasas))
print(statistics.median(sarasas))
print(min(sarasas))
print(max(sarasas))

15
3
3
1
5

In [13]:
sarasas = [3, 1, 4, 1, 5, 9, 2]
rezultatas = sorted(sarasas, key=lambda x: x % 3)
print(rezultatas)

[3, 9, 1, 4, 1, 5, 2]

In [14]:
from functools import reduce

sarasas = [1, 2, 3, 4, 5]

rezultatas = reduce(lambda x, y: x + y, filter(lambda x: x % 2 == 0, sarasas)) / len(list(filter(lambda x: x % 2 == 0, sarasas)))
print(rezultatas)

3.0

In [15]:
rezultatas = sum(x for x in sarasas if x % 2 == 0) / len([x for x in sarasas if x % 2 ==0])
print(rezultatas)

3.0